body {
  background-color: #ffffff;
}
tr,
tr:nth-child(odd),
tr:nth-child(even),
th {
  background-color: #ffffff;
  color: #000000;
}
h1,
h2,
h3,
p,
output,
em,
a.headinglink {
  color: #000000;
}
table {
  width: 100%;
  table-layout: fixed;
  font-size: 60%;
}
.highlight {
  background-color: #eeeeee;
}
.maindiv {
  max-width: none;
  margin: auto;
}
.logo {
  display: none;
}
