a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #F0EE2A;
}

a:active{
    color: #C5C452;
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow-x:auto;
}

th, td {
    padding: 8px;
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}
tr:nth-child(odd){
    background-color: #ffffff;
}
tr:hover{
    background-color: #888888;
}

th {
    background-color: #ce050b;
    color: white;
}

h1{
    font-family: Cambria, Times, serif;
    font-size:35px;
    color:#ce050b;
}

h2{
    font-family: Cambria, Times, serif;
    font-size:35px;
    color:#ffffff;
}

h3{
    font-family: Cambria, Times, serif;
    font-size:25px;
    color:#ffffff;
}

p{
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#ffffff;
}

em{
    font-family: Calibri, Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    color:#ffffff;
}

.left{
    float: left;
    padding: 0 10px 0 0;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
}

.column{
    float: left;
    width: 33%;
}

.selected{
    background-color: #F0EE2A;
}
